* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	font-family: "Avenir", sans-serif;
	color: #221F51;
}

.wrapper {
	font-size: 1.6em;
	padding: 1.2em;
	margin: 0 auto;
	width: 300px;
	background-color: white;
	text-align: center;
	left: 50px;
}
#logo {
	/*margin-bottom: 15px;*/
	display: inline-block;
	height: 76px;
	width: auto;
	margin-left: 0;
}

#logo:hover {
	border-radius: 50%;
	box-shadow: 0px 0px 10px gold,
		        0px 0px 10px gold;
}
.sb-item {
	list-style-type: none;
	margin-bottom: 0px;
	display: inline;
	margin-left: 10px;
	background: none;

}
/*.sb-item .fourth-sb {
	padding: 0;
	margin: 0;*/
}
.sb-icon-list {
	margin-bottom: 0px;
	width: 200px;
	display: block;
	font-size: .9em;


}

/*.first-sb {
	background: url("Images/1.png") bottom left no-repeat;
}
.second-sb {
	background: url("Images/2.png") bottom left no-repeat;
}
.third-sb {
	background: url("Images/3.png") bottom left no-repeat;
}
.fourth-sb {
	background: url("Images/4.png") bottom left no-repeat;
}
*/
aside {
	width: 230px;
	margin: 0;
}
.list-span {
	display: inline-block;
	padding-left: 0px;
	padding-top: 8px;
	font-size: 1.4em;
	color: #000;
}

#social{
display: none;
}

#big-image {
	margin-bottom: 25px;
	border-radius: 5%;
	width: 280px;
	height: auto;
	box-shadow: 0px 0px 10px gold,
		        0px 0px 10px gold;
}
#newsletter {
	background: url("Images/news.png") bottom left no-repeat;
	left: 30px;
	height: 50px;
	padding-left: 10px;
	padding-right: 100px;
	position: relative;
	margin-bottom: 50px;
}

#signup-txt {
	display: none;

}
.email-input {
	height: 20px;
	width: 50px;
	margin-right: 10px;
	border: 1px solid #999999;
	-webkit-border-radius: 42px;
	-moz-border-radius: 42px;
	border-radius: 42;
}

.button {
	height: 25px;
	border: 1px solid #999999;
	-webkit-border-radius: 42px;
	-moz-border-radius: 42px;
	border-radius: 42;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	font-weight: bold;
	color: #000;
	background-color: #fff;
}
.subscribe-span {
	position: absolute;
	bottom: 10;
	margin-top: 8px;
}

.article {
	display: block;
	width: 300px;

}
.art-title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.third-art {
margin-right: 0px;
}
.article-block {

}
