@font-face {
    font-family: "Avenir";
    src: url("Fonts/Avenir.ttc");
}

@font-face {
    font-family: "Lovely";
    src: url("Fonts/Lovely.ttf")
}

@font-face {
    font-family: "Century";
    src: url("Fonts/Century.otf");
}


body {
    width: 100vw;
    margin: 0;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 15vw 85vw;
}

.a {
    grid-column: 1;
    grid-row: 2;
    background: white;
}

.navigation h {
    font-family: lovely;
    font-size: 5em;
    color: #ffdb58;
    text-shadow: black 2px 2px;
}

nav {
    text-align: center;
}

.heading h {
    font-family: "Avenir";
    font-size: 2em;
}

.b {
    grid-column: 2;
    grid-row: 1;
    background: black;
}


.heading {
    margin: 5%;
    text-align: center;
}

.heading h {}

.threecolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.threecolumns p {
    margin: 2%;
    font-family: avenir;
    font-size: 0.8em;
}

.tattootiles {
    text-align: center;
}

.tattooimage img {
  max-width: 100%;
	height: auto;
}

.line1 {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

/*.line2 {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    color: black;
    width: 50%;
	padding-left: 2em;
} */

@media only screen and (max-width: 1000px) {
    .tattooimage img {
        height: 18vh;
    }
}

@media only screen and (max-width: 910px) {
    .tattooimage img {
        height: 20vh;
    }
}

@media only screen and (max-width: 900px) {
    .tattooimage img {
        height: 28vh;
        width: 80%;
    }

    .navigation {
        position: fixed;
        top: 10%;
        left: 1.5%;
    }

    .a ul li {
        margin-top: 25px;
        font-size: 0.7em;
    }

    .navigation h {
        font-size: 2.5em;
    }

    .heading h {
        font-family: century;
        font-size: 1em;
    }

    .threecolumns p {
        margin: 2%;
        font-family: avenir;
        font-size: 0.7em;
    }

    .line1 {
        margin-top: 8%;
        width: 80%;
    }

    .threecolumns {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

}

@media only screen and (max-width: 850px) {
    .tattooimage img {
        height: 40vh;
        width: 90%;
    }

    .a ul li {
        margin-top: 23px;
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 700px) {
    .tattooimage img {
        height: 27vh;
        width: 90%;
    }

        .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 20vw 80vw;
    }

}

button {
		border: 1px solid #999999;
	-webkit-border-radius: 42px;
	-moz-border-radius: 42px;
	border-radius: 42;
	font-size: 12px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	display: inline-block;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	font-weight: bold;
	color: #000;
	background-color: #fff;
	text-shadow: 0px 0px 10px gold,
		         0px 0px 10px gold;
}

button:hover {
	box-shadow: 0px 0px 10px gold,
		        0px 0px 10px gold;
}
